<section class="inViewAnimate jobHeader fullViewport">
    <h1 class="hidden"></h1>
    <div class="content">
        <h1 class="big">We<br />are<br />hiring.</h1>
    </div>
</section>

<!-- - - - - - - -->

<section class="jobHeaderImg inViewAnimate">
    <picture>
        <source media="(min-width: 768px)" srcset="{job.jobBanner.originalResource.publicUrl}">
        <source media="(min-width: 350px)" srcset="{job.jobBanner.originalResource.publicUrl}">
        <img src="{job.jobBanner.originalResource.publicUrl}" alt="HeaderVisual">
    </picture>
</section>


<section class="jobDescription inViewAnimate">

    <div class="cssTable">
        <div class="inViewAnimate">
            <div>
                <p>
                    Jetzt bewerben!
                    <br>
                    <a href="mailto:job@orangehive.de" target="_blank">job@orangehive.de</a>
                </p>
            </div>
        </div>
        <div class="inViewAnimate">
            <h1>Wir suchen {job.titleDe}</h1>
            <p class="inViewAnimate">{job.descriptionDe}</p>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
</section>

<section class="jobDescription">

    <div class="cssTable">
        <div class="inViewAnimate">
            <div>
                <p>
                    Apply now!
                    <br>
                    <a href="mailto:job@orangehive.de" target="_blank">job@orangehive.de</a>
                </p>
            </div>
        </div>
        <div class="inViewAnimate">
            <h1>We‘re looking for a {job.titleEn}</h1>
            <p class="inViewAnimate">{job.descriptionEn}</p>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
</section>